@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
  margin: 0;
  padding: 0;
  font-family: montserrat, arial, verdana;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #6441a5;
  color: white;
}

body {
  background: transparent;
  height: 100%;
}
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: linear-gradient(
    to right,
    #2a0845,
    #321549
  );
}

a {
  text-decoration: none;
  user-select: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
}

.button {
  background-color: #ee0979;
  display: flex;
  font-size: 1rem;
  width: fit-content;
  padding: 12px 8px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all .15s ease-in;
  user-select: none;
}

.button:hover {
  background-color: rgb(255, 56, 152);
}

.button a {
  color: white;
}

/*form styles*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
  border: none;
  border-radius: 24px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  margin: 0 10%;
  color: black;
}

label {
  display: block;
  width: 100%;
  user-select: none;
}

/*inputs*/
input,
textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
  border-radius: 8px;
}

input:focus,
textarea:focus {
  box-shadow: none;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: all 0.15s ease-in;
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
}

.w3-table,
.w3-table-all {
  border-collapse: collapse;
  border-radius: 24px;
  overflow: hidden;
  border-spacing: 0;
  max-width: 800px;
  width: 100%;
  display: table;
  color: black;
}
.w3-table-all {
  border: 1px solid #ccc;
}
.w3-bordered tr,
.w3-table-all tr {
  border-bottom: 1px solid #ddd;
}
.w3-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
.w3-table-all tr:nth-child(odd) {
  background-color: #fff;
}
.w3-table-all tr:nth-child(even) {
  background-color: #f1f1f1;
}
.w3-hoverable tbody tr:hover,
.w3-ul.w3-hoverable li:hover {
  background-color: #ccc;
}
.w3-centered tr th,
.w3-centered tr td {
  text-align: center;
}
.w3-table td,
.w3-table th,
.w3-table-all td,
.w3-table-all th {
  padding: 8px 8px;
  display: table-cell;
  vertical-align: top;
}
.w3-table th:first-child,
.w3-table td:first-child,
.w3-table-all th:first-child,
.w3-table-all td:first-child {
  padding-left: 16px;
}

th {
  text-align: left;
}

.centered {
  text-align: center;
}