<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Alunos</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><a href="/">Lista de Alunos</a></h1>
  <div class="container">
    <h3 class="button"><a href="/alunos/criar">Cadastrar</a></h3>
    <!-- Tabela para exibir os alunos -->
    <table class="w3-table-all">
      <tr>
        <td colspan="7" style="text-align: center;">Lista de Alunos</td>
      </tr>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>RA</th>
        <th>ID do Curso</th>
        <th class="centered" colspan="2">Ações</th>
      </tr>
      <tr th:each="aluno : ${alunos}">
        <td th:text="${aluno.idAluno}">*</td>
        <td th:text="${aluno.nomeAluno}">*</td>
        <td th:text="${aluno.endAluno}">*</td>
        <td th:text="${aluno.telAluno}">*</td>
        <td th:text="${aluno.raAluno}">*</td>
        <td th:text="${aluno.idCurso}">*</td>
        <td>
          <div class="action-buttons">
            <a class="button" th:href="@{/alunos/editar/{id}(id=${aluno.idAluno})}">Editar</a>
            <a class="button" th:href="@{/alunos/excluir/{id}(id=${aluno.idAluno})}">Excluir</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>